.login-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 1px solid #d3d8e6;
    width: 90%;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 32px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.input-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.input-file label {
    display: flex;
    background-color: #A7B0C9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.input-file label:hover {
    background-color: #8995b4;
}

#titulo {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 10px;
}

#texto {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 10px;
}

#archivo {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 10px;
}

.botones {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#publicar {
    display: flex;
    background-color: #A7B0C9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

#publicar:hover {
    background-color: #8995b4;
}

.categoria {
    position: relative;
    margin-top: 10px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 25px;
    background: #A7B0C9;
}

.categoria select {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
}

.categoria::before {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #8995b4;
    pointer-events: none;
}
.fechas{
    width: 80%;
    border: none;
    display: inline;
    margin-bottom: 10px;
    background: #A7B0C9;
    border-radius: 25px;
}
.fecha{
    display: inline;
    align-items: center;
    background: #A7B0C9;
}
.fecha input{
    background: #8995b4;
    border-radius: 25px;
    border: none;
}