.noticias {
    width: 90%;
    padding: 1%;
    margin: 3%;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
  }

  .nueva_publicacion {
    width: 15%;

    margin: 3%;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
  }

  .nueva_publicacion button{
    width: 100%;

    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    color: white;
    background-color: #7784A7;
  }

  #nuevo_evento{
    margin-left: 3%;
    width: 15%;

    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    color: white;
    background-color: #7784A7;
  }
  

.Contenedor_noticias{
  color: rgb(114, 113, 113);
  padding: 1%;
  width: 100%;

  border: 2px solid gray;

  border-radius: 30px;

  margin-top: 30px;

}

.Contenedor_noticias .titulo{

  padding:1%;
  border: 2px solid gray;
  color: rgb(95, 90, 90);
  border-radius: 30px;
  overflow:hidden;

}


/* SLIDER */
:root {
  --cantidad-eventos: 0; /* Valor predeterminado */
}
.slider {
  height: 400px; 
  width: 25%;
  padding: 1%;
  margin: 3%;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
}

.slider .slide-track {
  display: flex;
  flex-direction: column; 
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  height: calc(200px * var(--cantidad-eventos * 2)); 
}

.slider .slide {
  height: 200px; 
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0); 
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(-200px * var(--cantidad-eventos)3)); 
    transform: translateY(calc(-200px * var(--cantidad-eventos)));
  }
}