{% extends 'layouts/nav_principal_lector.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}">

<div class="noticias">
    
    <h1>{{categoria}}</h1>

    

    <p>Esta es una pagina diseñada de alumnos para alumnos, en ella se encontraran las noticias relevantes de Facultad de Ingenieria Mochis.</p>

    <hr>

    
    {% for item in entity %}

    <div class="Contenedor_noticias">

        <div style="overflow:hidden;" >
            <h2 class="titulo" style="float:left;">{{item.titulo}}</h2>

            <h4 style="float:right;">{{item.fecha}}</h4>
        </div>
        <p>{{item.descripcion}}</p>

        {% if item.imagen %}
        <center><img width="30%" src="{{item.imagen.url}}" /></center>

        {% endif %}
    </div>

    
    {% endfor %}

    <div style="margin-top: 5%">
        {% include 'layouts/paginator.html' %}
    </div>
</div>



<div class="slider">
    <div class="slide-track" id="dynamic-slider">
        {% for item in eventos %}
            <div class="slide">
                <h4>{{ item.titulo }}</h4>
                <p>{{item.fecha_inicio}} - {{item.fecha_final}}</p>
                <p>{{ item.descripcion }}</p>
                
            </div>
        {% endfor %}
        {% for item in eventos %}
            <div class="slide">
                <h4>{{ item.titulo }}</h4>
                <p>{{item.fecha_inicio}} - {{item.fecha_final}}</p>
                <p>{{ item.descripcion }}</p>
                
            </div>
        {% endfor %}
    </div>
</div>
<script>
    document.documentElement.style.setProperty('--cantidad-eventos', '{{ cantidad }}');
</script>

{% endblock %}
