{% extends 'layouts/nav_inicio.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="login-page">

    <div class="foto_uas">
        <img src="{% static 'images/imagen_uas.png' %}">


    </div>

    <div class="form">

        <strong><h1>Inicio de sesion</h1></strong>

		<form class="login-form" method="post" action="{% url 'login' %}">
			
			{% csrf_token %}
			<input type="number" name='cuenta' placeholder="Numero de cuenta" required/>
			<input type="password" name='contra' placeholder="Contraseña" required/>
			<br></br>
			<button style="width: 45%; float: left;">Entrar</button>
            <a style="width: 45%; float: right; color:white" href="{% url 'registro' %}">Registrarse</a>
		</form>




    </div>



</div>

<div class="acerca_de">
    <h1>Acerca de</h1>
    <p>Esta es una pagina diseñada de alumnos para alumnos, en ella se encontraran las noticias relevantes de Facultad de Ingenieria Mochis.</p>
</div>

{% endblock %}