{% extends 'layouts/nav_inicio.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
<div class="register-page">



    <center><div class="form">

        <h1>Registro de Usuario</h1>
        <br>
		<form class="register-form" method="post" action="{% url 'registro' %}">
			
            {% if registro %}
            <div class="alert alert-success" role="alert">
                {{registro.message}}
            </div>
            {% endif %}

            <h3>Tipo de usuario</h3>
            <input type="radio" id="lector" name="tipo_usuario" value="L" checked/>
                <label for="lector">Lector</label><br>
            <input type="radio" id="escritor" name="tipo_usuario" value="E"/>
                <label for="escritor">Escritor</label><br>


            
			{% csrf_token %}
			<input type="text" name='nombre' placeholder="Nombres(s)" required/>
            <input type="text" name='apellido' placeholder="Apellido(s)" required/>
            <input type="email" name='correo' placeholder="Correo" required/>
            <input type="password" name='contra' placeholder="Contraseña" required/>
            <input type="password" name='confirmar_contra' placeholder="Confirmar Contraseña" required/>
            {% if datos %}
                <div class="alert alert-danger" role="alert">
                    {{datos.message}}
                </div>
		    {% endif %}
			<br></br>

            <button style="width: 45%; float: right;">Registrarse</button>
		</form>




    </div></center>



</div>

{% endblock %}